body {
  font-family: "Times New Roman", Times, sans-serif;
  background-color: #121212;

  color: white;
  text-align: center;
}
.container {
  max-width: 400px;
  margin: 50px auto;
  background: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px gray;
}
h2 {
  color: #00ff99;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}
input {
  width: 70%;
  padding: 13px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
}
.add-btn {
  padding: 13px;
  border-radius: 0 5px 5px 0;
  background: #00ff99;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.delete-icon {
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
}
.edit-icon {
  font-size: 1.4rem;
  color: aquamarine;
  cursor: pointer;
}
.delAll-btn {
  display: flex;
  justify-self: flex-end;
  padding: 12px;
  background: #00ff99;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  background: #333;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
input[type="checkbox"] {
  margin-right: 10px;
}
.btn-container {
  display: flex;
  gap: 10px;
}

.checkbox-wrapper-29 {
  flex: 1; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.checkbox-wrapper-29 {
  --size: 1rem;
  font-size: var(--size);
}

.checkbox-wrapper-29 *,
.checkbox-wrapper-29 *::after,
.checkbox-wrapper-29 *::before {
  box-sizing: border-box;
}

.checkbox-wrapper-29 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-29 .checkbox__label {
  width: var(--size);
}

.checkbox-wrapper-29 .checkbox__label:before {
  content: " ";
  display: block;
  height: var(--size);
  width: var(--size);
  position: absolute;
  top: calc(var(--size) * 0.125);
  left: 0;
  background: var(--background);
}

.checkbox-wrapper-29 .checkbox__label:after {
  content: " ";
  display: block;
  height: var(--size);
  width: var(--size);
  border: calc(var(--size) * 0.15) solid white;
  transition: 200ms;
  position: absolute;
  top: calc(var(--size) * 0.125);
  left: 0;
  background: var(--background);
}

.checkbox-wrapper-29 .checkbox__label:after {
  transition: 200ms ease-in-out;
}

.checkbox-wrapper-29 .checkbox__input:checked ~ .checkbox__label:after {
  border-top-style: none;
  border-right-style: none;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: calc(var(--size) * 0.5);
  border-color: #00ff99;
}

.checkbox-wrapper-29 .checkbox {
  position: relative;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.checkbox-wrapper-29 .checkbox__label:after:hover,
.checkbox-wrapper-29 .checkbox__label:after:active {
  background-color: white;
}

.checkbox-wrapper-29 .checkbox__label {
  margin-right: calc(var(--size) * 0.45);
}
